@mixin text-19-500 {
    font-size: 19px;
    font-weight: 500;
}
@mixin text-22-500 {
    font-size: 22px;
    font-weight: 500;
}
@mixin text-23-600 {
    font-size: 23px;
    font-weight: 600;
}
@mixin text-27-600 {
    font-size: 27px;
    font-weight: 600;
}
@mixin text-27-500 {
    font-size: 27px;
    font-weight: 500;
}
@mixin text-20-400 {
    font-size: 20px;
    font-weight: 400;
}
@mixin text-58-700 {
    font-size: 58px;
    font-weight: 700;
}
@mixin text-30-500 {
    font-size: 30px;
    font-weight: 500;
}
@mixin text-30-700 {
    font-size: 30px;
    font-weight: 700;
}
@mixin text-18-400 {
    font-size: 18px;
    font-weight: 400;
}
@mixin text-40-600 {
    font-size: 40px;
    font-weight: 400;
}
@mixin text-40-700 {
    font-size: 40px;
    font-weight: 700;
}