.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 17px;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.col-4 {
  width: 33.333333%;
}

.mt-30 {
  margin-top: 30px;
}
.mt-64 {
  margin-top: 64px;
}